/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@theme {
  --color-primary_text: #606060;
  --color-secondary_text: #dadada;
  --color-title_black: #303030;
  --color-active_btn: #1f1f1f;
  --color-active_nav_btn: #5b6a2e;
  --color-primary_green: #acc857;
  --color-secondary_green: #caeb66;
  --color-primary_black: #000000;
  --color-secondary_black: #1a1a1a;
  --color-body_Bg: #f5f5f5;
  --color-footer_Bg: #0b0b0b;
  --color-form_black: #0f172a;
  --color-icon: #03464d;
  --color-icon2: #50e13c;
}

.urbanist_font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  color: #03373d;
  font-weight: 800;
}
